.mat-form-field {
  width: 100%;
}

.b1 {
  margin-top: 16px;
}

.responsebox {
  margin-top: 16px;
  padding: 16px;
  background-color: #8498f3;
  border-radius: 4px;
}

.responsebox p {
  margin-bottom: 8px;
}

.responsebox .name {
  font-weight: bold;
}

.responsebox .message {
  color: #a8f585;
}
