.menu-bar {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.title {
  font-size: 24px;
  margin-right: auto;
  font-weight: bold;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

li {
  margin-left: 16px;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.btn {
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

mx-2 {
  margin: 0 8px;
}

select {
  border: none;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  background-color: #fff;
  color: #333;
}
