.menu-bar {
    background-image: linear-gradient(to bottom, #50eb74, #8047d6); /* Set background color */
    color: #5fa4e4; /* Set font color */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 2px 2px rgba(165, 218, 79, 0.3); /* Add shadow */
  }
  
  .menu-bar .title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .menu-bar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu-bar ul li {
    margin-right: 20px;
  }
  
  .menu-bar ul li a {
    color: #180f0f;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
  }
  
  .menu-bar ul li a:hover {
    color: #a52264;
  }
  .btn btn-danger mx-2{
    position: absolute;
    right: 4px;
  }
  