<div class="details">
    <h1>{{details.name}}</h1>
    <div class="image">
      <img src="http://localhost/{{details.image}}"/>
    </div>
    <table class="details-table">
      <tr>
        <th>Breakfast</th>
        <td>{{details.breakfast}}</td>
      </tr>
      <tr>
        <th>Lunch</th>
        <td>{{details.lunch}}</td>
      </tr>
      <tr>
        <th>Tea</th>
        <td>{{details.tea}}</td>
      </tr>
      <tr>
        <th>Coffee</th>
        <td>{{details.coffee}}</td>
      </tr>
      <tr>
        <th>Dinner</th>
        <td>{{details.dinner}}</td>
      </tr>
      <tr>
        <th>Calories</th>
        <td>{{details.calories}}</td>
      </tr>
    </table>
  </div>
  